.update-progress h3 {
  height: 1.125rem;
  opacity: 0.5;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.45rem;
  color: var(--black-two);
  margin-bottom: 10px;
}

.update-progress h5 {
  font-family: RobotoSlab, sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

.btn {
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
  background-color: var(--blue-color);
  font-size: 0.413rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white-color);
}

@media screen and (min-width: 680px) {
  .update-progress h3 {
    height: 1.125rem;
    opacity: 0.5;
    font-size: 0.813rem;
    margin-bottom: 20px;
  }

  .update-progress h5 {
    font-size: 1rem;
    margin-bottom: 20px;
    letter-spacing: -0.4px;
  }

  .btn {
    padding: 0.5rem 1.2rem;
    border-radius: 3px;
    font-size: 0.813rem;
    letter-spacing: 0.5px;
  }
}
