.book-completed {
  justify-self: end;
  font-family: Montserrat, sans-serif;
  color: #121212;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.book-progress {
  font-size: 2rem;
  font-weight: normal;
}

.completed {
  opacity: 0.5;
  font-size: 0.875rem;
}

.line {
  width: 0.125rem;
  height: 4.375rem;
  border: solid 1px var(--border-color);
  justify-self: center;
}
