* {
  margin: 0;
  padding: 0;
}

.form-wrapper {
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  width: 91%;
}

.form-wrapper h3 {
  align-self: flex-start;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #888;
  margin-left: 6.5rem;
  margin-top: 20px;
}

input {
  margin: 1.1rem 2.1rem 10rem 0.9rem;
  padding: 1rem 5rem;
  border-radius: 4px;
  border: solid 1px var(--border-color);
  background-color: var(--white-color);
  width: 50rem;
}

.options {
  margin: 1.1rem 2.1rem 10rem 0;
  padding: 1rem 2rem;
  border-radius: 4px;
  border: solid 1px var(--border-color);
  background-color: var(--white-color);
  width: 25rem;
}

.tittle {
  width: 120rem;
  margin-top: 20px;
}

.add-btn {
  align-self: flex-start;
  margin: 1.1rem 2.1rem 10rem 0;
  padding: 1rem 5rem;
  border-radius: 3px;
  background-color: var(--blue-color);
  font-size: 0.813rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white-color);
  width: 20rem;
}
