/* stylelint-disable font-family-name-quotes */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.navbar {
  background-color: var(--white);
}

.navbar-wrapper {
  height: 5.938rem;
  background-color: var(--white-color);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  margin: 0 3rem;
  border-bottom: 1px solid var(--border-color);
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 18px;
}

.navbar h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  color: var(--blue-color);
}

.navbar-link {
  display: flex;
  justify-self: start;
}

.navbar-link li {
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
}

.navbar-link *:hover {
  color: var(--blue-color);
}

.user {
  color: var(--blue-color);
  border: 1px solid var(--border-color);
  border-radius: 100%;
  font-size: 3rem;
  padding: 0.5rem;
  cursor: pointer;
}

@media screen and (min-width: 680px) {
  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 50px;
  }

  .navbar-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
  }

  .tittle h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: #0290ff;
  }

  .navbar-link {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    letter-spacing: 1.9px;
    margin-right: 20px;
  }

  .navbar-link a {
    text-decoration: none;
  }

  .oval {
    margin: 0 0 0 20.5rem;
  }
}
