@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.book-category {
  width: 7rem;
  height: 1.125rem;
  margin: 0 4rem 0 0;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--black-two);
}

.book-tittle {
  font-family: RobotoSlab, sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.buttons {
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  color: #4386bf;
}

.buttons *:hover {
  text-decoration: underline;
  cursor: pointer;
}

.buttons button:nth-child(2) {
  margin: 0 1rem;
  padding: 0 1.2rem;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
