@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --blue-color: #0290ff;
  --primary-bg-color: #e0e1e5;
  --secondary-bg-color: #fafafa;
  --white-color: #fff;
  --border-color: #e8e8e8;
  --black-two: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}
